In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [3]:
data = pd.read_csv("Data\Advertising.csv")

In [4]:
data.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [11]:
features=["TV","radio","newspaper"]
X=data[features]
y = data["sales"]

In [12]:
X.head()

      TV  radio  newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [13]:
y.head()

0    22.1
1    10.4
2     9.3
3    18.5
4    12.9
Name: sales, dtype: float64

In [14]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=1)

In [15]:
X_train = np.c_[np.ones(X_train.shape[0]), X_train]
X_test = np.c_[np.ones(X_test.shape[0]), X_test]


y_train = y_train.values
y_test = y_test.values


beta = np.linalg.inv(X_train.T @ X_train) @ (X_train.T @ y_train)


y_pred = X_train @ beta


RSS = np.sum((y_train - y_pred) ** 2)
TSS = np.sum((y_train - np.mean(y_train)) ** 2)
R2 = 1 - RSS / TSS
n, p = X_train.shape[0], X_train.shape[1] - 1
RSE = np.sqrt(RSS / (n - p - 1))
F_statistic = ((TSS - RSS) / p) / (RSS / (n - p - 1))


print(f"Coefficients: {beta}")
print(f"RSS: {RSS}")
print(f"R2: {R2}")
print(f"RSE: {RSE}")
print(f"F-statistic: {F_statistic}")

Coefficients: [2.87696662 0.04656457 0.17915812 0.00345046]
RSS: 463.01870202437027
R2: 0.890307557755665
RSE: 1.7808315396942125
F-statistic: 394.9980532623856

In [16]:
xt = data["TV"]  
y = data["sales"]  

xt_train, xt_test, y_train, y_test = train_test_split(xt, y, random_state=1)

xt_train = xt_train.values.reshape(-1, 1)
xt_test = xt_test.values.reshape(-1, 1)

X_train = np.c_[np.ones(xt_train.shape[0]), xt_train]  
X_test = np.c_[np.ones(xt_test.shape[0]), xt_test]

beta = np.linalg.inv(X_train.T @ X_train) @ (X_train.T @ y_train)

y_pred = X_train @ beta

RSS = np.sum((y_train - y_pred) ** 2)  
TSS = np.sum((y_train - np.mean(y_train)) ** 2) 
R2 = 1 - RSS / TSS  
n, p = X_train.shape[0], 1  
RSE = np.sqrt(RSS / (n - p - 1))  
F_statistic = ((TSS - RSS) / p) / (RSS / (n - p - 1))  

print(f"Coefficients: {beta}")
print(f"RSS: {RSS}")
print(f"R2: {R2}")
print(f"RSE: {RSE}")
print(f"F-statistic: {F_statistic}")

Coefficients: [6.91197262 0.04802945]
RSS: 1587.8471561406188
R2: 0.623827651655809
RSE: 3.275468974200508
F-statistic: 245.43668042442786

In [17]:
xt = data["radio"] 
y = data["sales"]  

xt_train, xt_test, y_train, y_test = train_test_split(xt, y, random_state=1)

xt_train = xt_train.values.reshape(-1, 1)
xt_test = xt_test.values.reshape(-1, 1)

X_train = np.c_[np.ones(xt_train.shape[0]), xt_train]  
X_test = np.c_[np.ones(xt_test.shape[0]), xt_test]


beta = np.linalg.inv(X_train.T @ X_train) @ (X_train.T @ y_train)

y_pred = X_train @ beta

RSS = np.sum((y_train - y_pred) ** 2)  
TSS = np.sum((y_train - np.mean(y_train)) ** 2)  
R2 = 1 - RSS / TSS  
n, p = X_train.shape[0], 1  
RSE = np.sqrt(RSS / (n - p - 1))  
F_statistic = ((TSS - RSS) / p) / (RSS / (n - p - 1))  


print(f"Coefficients: {beta}")
print(f"RSS: {RSS}")
print(f"R2: {R2}")
print(f"RSE: {RSE}")
print(f"F-statistic: {F_statistic}")

Coefficients: [9.33859455 0.19338969]
RSS: 2937.6263521070696
R2: 0.3040553058546194
RSE: 4.455202206794451
F-statistic: 64.6605766881287

In [18]:
xt = data["newspaper"]  
y = data["sales"]  

xt_train, xt_test, y_train, y_test = train_test_split(xt, y, random_state=1)

xt_train = xt_train.values.reshape(-1, 1)
xt_test = xt_test.values.reshape(-1, 1)

X_train = np.c_[np.ones(xt_train.shape[0]), xt_train]  
X_test = np.c_[np.ones(xt_test.shape[0]), xt_test]

beta = np.linalg.inv(X_train.T @ X_train) @ (X_train.T @ y_train)

y_pred = X_train @ beta

# Metrics calculations
RSS = np.sum((y_train - y_pred) ** 2) 
TSS = np.sum((y_train - np.mean(y_train)) ** 2)  
R2 = 1 - RSS / TSS  
n, p = X_train.shape[0], 1  
RSE = np.sqrt(RSS / (n - p - 1)) 
F_statistic = ((TSS - RSS) / p) / (RSS / (n - p - 1))  


print(f"Coefficients: {beta}")
print(f"RSS: {RSS}")
print(f"R2: {R2}")
print(f"RSE: {RSE}")
print(f"F-statistic: {F_statistic}")

Coefficients: [11.76557671  0.06888299]
RSS: 3898.6080970842904
R2: 0.07639185706108453
RSE: 5.1324406087085785
F-statistic: 12.241116464245225